<div style="text-align:center">
  <div class="row">
    <div class="col" (click)="select(2, 0)" [style.background]="getStyle(2, 0)"></div>
    <div class="col" (click)="select(2, 1)" [style.background]="getStyle(2, 1)"></div>
    <div class="col" (click)="select(2, 2)" [style.background]="getStyle(2, 2)"></div>
  </div>
  <div class="row">
    <div class="col" (click)="select(1, 0)" [style.background]="getStyle(1, 0)"></div>
    <div class="col" (click)="select(1, 1)" [style.background]="getStyle(1, 1)"></div>
    <div class="col" (click)="select(1, 2)" [style.background]="getStyle(1, 2)"></div>
  </div>
  <div class="row">
    <div class="col" (click)="select(0, 0)" [style.background]="getStyle(0, 0)"></div>
    <div class="col" (click)="select(0, 1)" [style.background]="getStyle(0, 1)"></div>
    <div class="col" (click)="select(0, 2)" [style.background]="getStyle(0, 2)"></div>
  </div>
</div>